@page "/"

<PageTitle>BINAC</PageTitle>

<h1>Hello, BINAC!</h1>

<div class="mb-3">
    <label for="code" class="form-label">Enter your code in octal!</label>
    <InputTextArea @bind-Value="Code" id="code" class="form-control" aria-describedby="codeHelp" />
    <div id="codeHelp" class="form-text">Enter BINAC code using octal mnemonics.</div>
</div>

<button type="button" class="btn btn-primary" @onclick=ExecuteCode>Execute</button>

<p>
    Even if never described anywhere, it seems that each word represent binary floating number with 30 bits for mantissa and 1 bit was reserved for sign.
    There no exponent. This can be represented as 10 octal numbers and sign. For example <code>-7,000,000,000</code> represents <em>-0.5</em>
</p>
@code {
    public string Code 
    {
        get => field;
        set
        {
            field = value;
        }
    } = "";

    private BinacMachine Machine { get; set; } = new();

    void ExecuteCode()
    {
        var compiler = new BinacCompiler();
        var ops = compiler.ParseCode(Code);
        Machine.Reset();
    }
}